$black: #2C2C33;
$purple: #615F81;
$lt-purple: #7C73FF;
$lt-green: #CFE353;
$lt-blue: #3CB5AD;

body {
  font-family: 'Esteban', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $lt-purple;
  text-decoration: none;
  &:hover {
    color: $purple;
    text-decoration: underline;
  }
}

#container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-margin {
  margin: 0 !important;
}

.posts-list {
  margin-top: 20px;
  ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
  }
  h1 {
    font-size: 16px;
    color: $lt-purple;
    &:hover {
      color: $purple;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}